<div class="container">
  <pre>
    _________________________
   /  _________<span class="pipe" id="pipe-1">_</span>___________  \
__/  /                     \  \___   
__   |                     |   ___Yay!
  \  \_____________________/  /
   \__________<span class="pipe" id="pipe-2">_</span>______________/
</pre>
</div>
